@media (max-width: 640px) {
  .res {
    padding-inline: 15px;
  }
}

@media (max-width: 370px) {
  .res {
    padding-inline: 0px;
  }
}

.projects > section::after {
  content: "";
  height: 1.5px;
  width: 70%;
  background: linear-gradient(90deg, transparent, var(--separator-color), transparent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}