.blobImg {
  animation: blob 40s ease-in-out infinite forwards;
  box-shadow: 7px 7px 30px #E6E49F, -7px -7px 30px #E6E49F;
}

@keyframes blob {
  0% {
    border-radius: 70% 30% 57% 43% / 13% 80% 20% 87%;
  } 5% {
    border-radius: 75% 25% 85% 15% / 60% 74% 26% 40%;
  } 10% {
    border-radius: 35% 65% 23% 77% / 37% 51% 49% 63%;
  } 15% {
    border-radius: 36% 64% 57% 43% / 61% 17% 83% 39%;
  } 20% {
    border-radius: 44% 56% 56% 44% / 16% 74% 26% 84%;
  } 25% {
    border-radius: 28% 72% 62% 38% / 85% 42% 58% 15%;
  } 30% {
    border-radius: 21% 79% 85% 15% / 60% 36% 64% 40%;
  } 35% {
    border-radius: 36% 64% 25% 75% / 74% 30% 70% 26%;
  } 40% {
    border-radius: 36% 64% 57% 43% / 61% 17% 83% 39%;
  } 45% {
    border-radius: 43% 57% 20% 80% / 60% 36% 64% 40%;
  } 50% {
    border-radius: 50%;
  } 55% {
      border-radius: 68% 32% 62% 38% / 30% 87% 13% 70%;
  } 60% {
      border-radius: 8% 92% 11% 89% / 94% 17% 83% 6%;
  } 65% {
      border-radius: 43% 57% 68% 32% / 18% 36% 64% 82%;
  } 70% {
    border-radius: 67% 33% 32% 68% / 60% 36% 64% 40%;
  } 75% {
    border-radius: 41% 59% 62% 38% / 30% 53% 47% 70%;
  } 80% {
    border-radius: 67% 33% 84% 16% / 37% 51% 49% 63%;
  } 85% {
    border-radius: 44% 56% 56% 44% / 16% 74% 26% 84%;
  } 90% {
    border-radius: 63% 37% 57% 43% / 37% 51% 49% 63%;
  } 95% {
    border-radius: 36% 64% 57% 43% / 61% 17% 83% 39%;
  } 100% {
    border-radius: 70% 30% 57% 43% / 13% 80% 20% 87%;
  }
}

.webkitText {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #E3E7D3;
  -webkit-text-stroke-width: 1px;
  text-transform: uppercase;
}

.fancyText {
  background: linear-gradient(45deg, #E6E49F, white);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 800;
}

.heroText {
  opacity: 0;
  animation: animate 3s ease-in 0s 1 normal forwards;
}

@keyframes animate {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}