.blobImg {
  animation: blob 40s ease-in-out infinite forwards;
  box-shadow: 0 10px 30px var(--shadow-color);
}

.heroSection > section::after {
  content: "";
  height: 1.5px;
  width: 70%;
  background: linear-gradient(90deg, transparent, var(--separator-color), transparent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes blob {
  0% {
    border-radius: 70% 30% 57% 43% / 13% 80% 20% 87%;
  } 5% {
    border-radius: 75% 25% 85% 15% / 60% 74% 26% 40%;
  } 10% {
    border-radius: 35% 65% 23% 77% / 37% 51% 49% 63%;
  } 15% {
    border-radius: 36% 64% 57% 43% / 61% 17% 83% 39%;
  } 20% {
    border-radius: 44% 56% 56% 44% / 16% 74% 26% 84%;
  } 25% {
    border-radius: 28% 72% 62% 38% / 85% 42% 58% 15%;
  } 30% {
    border-radius: 21% 79% 85% 15% / 60% 36% 64% 40%;
  } 35% {
    border-radius: 36% 64% 25% 75% / 74% 30% 70% 26%;
  } 40% {
    border-radius: 36% 64% 57% 43% / 61% 17% 83% 39%;
  } 45% {
    border-radius: 43% 57% 20% 80% / 60% 36% 64% 40%;
  } 50% {
    border-radius: 50%;
  } 55% {
    border-radius: 68% 32% 62% 38% / 30% 87% 13% 70%;
  } 60% {
    border-radius: 8% 92% 11% 89% / 94% 17% 83% 6%;
  } 65% {
    border-radius: 43% 57% 68% 32% / 18% 36% 64% 82%;
  } 70% {
    border-radius: 67% 33% 32% 68% / 60% 36% 64% 40%;
  } 75% {
    border-radius: 41% 59% 62% 38% / 30% 53% 47% 70%;
  } 80% {
    border-radius: 67% 33% 84% 16% / 37% 51% 49% 63%;
  } 85% {
    border-radius: 44% 56% 56% 44% / 16% 74% 26% 84%;
  } 90% {
    border-radius: 63% 37% 57% 43% / 37% 51% 49% 63%;
  } 95% {
    border-radius: 36% 64% 57% 43% / 61% 17% 83% 39%;
  } 100% {
    border-radius: 70% 30% 57% 43% / 13% 80% 20% 87%;
  }
}

.webkitText {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--text-color);
  -webkit-text-stroke-width: 1.5px;
  text-transform: uppercase;
}

.heroText {
  opacity: 0;
  animation: animate 1.2s ease-out 0.15s 1 normal forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(12px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}