.aboutSection > section::after {
  content: "";
  height: 1.5px;
  width: 70%;
  background: linear-gradient(90deg, transparent, var(--separator-color), transparent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}