
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


:root {
  --background-color: #ffffff;
  --text-color: #000;
  --navbar-color: #000000b4;
  --text-color-2: #E6E49F;
  --customColor-1: #2A0C4E;
  --customColor-3: rgb(1, 56, 1);
  --customColor-4: rgb(6, 225, 6);
  --customColor-5: #E3E7D3;
  --customColor-6: #25291C;
}

.dark-mode {
  --background-color: #000000;
  --text-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-left: 1px solid rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

::-webkit-scrollbar-button {
  height: 1px;
}

* {
  scroll-behavior: smooth;
}

.card-shadow {
  box-shadow: 5px 5px 10px rgba(152, 156, 148, 0.5), -5px -5px 10px rgba(152, 156, 148, 0.5);
}

body{
  font-family: 'DM sans' !important;
  user-select: none;
}

input, textarea {
  outline: none;
  background-color: var(--navbar-color);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 200;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: var(--background-color);
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;

  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  transform: translate(-50%, -50%);
  scale: 0;
  opacity: 0;
  visibility: hidden;

  height: 200px;
  transition: all 0.5s ease-in-out;
}

.popup.show {
  animation: popupAnim 0.5s forwards;
}

@keyframes popupAnim {
  0% {
    scale: 0;
    opacity: 0;
    visibility: hidden;
    top: -20%;
  }
  100% {
    scale: 1;
    opacity: 1;
    visibility: visible;
    top: 20%;
  }
}

/*loading..............*/

/* From Uiverse.io by Vosoone */ 
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
   background: var(--customColor-6);

  position: fixed;
  z-index: 10000;
}

.loader {
  width: 100%;
}

.trace-bg {
  stroke: #333;
  stroke-width: 1.8;
  fill: none;
}

.trace-flow {
  stroke-width: 1.8;
  fill: none;
  stroke-dasharray: 40 400;
  stroke-dashoffset: 438;
  filter: drop-shadow(0 0 6px currentColor);
  animation: flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}

.yellow {
  stroke: #ffea00;
  color: #ffea00;
}
.blue {
  stroke: #00ccff;
  color: #00ccff;
}
.green {
  stroke: #00ff15;
  color: #00ff15;
}
.purple {
  stroke: #9900ff;
  color: #9900ff;
}
.red {
  stroke: #ff3300;
  color: #ff3300;
}

@keyframes flow {
  to {
    stroke-dashoffset: 0;
  }
}

/* Čip */
.chip-body {
  rx: 20;
  ry: 20;
}

/* Text uvnitř čipu */
.chip-text {
  font-weight: bold;
  letter-spacing: 1px;
}

/* Piny */
.chip-pin {
  stroke: #444;
  stroke-width: 0.5;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}
